html, body{ margin: 0; padding: 0; }
.container{ background-color: rgb(7, 212, 185); max-width: 800px; margin: 0 auto; padding: 1rem; color: white; }
.board { background-color: aliceblue; border-radius: 10px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); overflow: hidden; padding: 0.5rem; color: #222222; }
.board ul { list-style: none; padding: 0; font: 1.2em sans-serif; }
.board li { margin-bottom: 10px; }
.chk { width: 20px; }
#form { display: flex; gap: 10px; margin-bottom: 8px;}
.removeBtn{ color: red; background-color: white; border: 1px solid red; border-radius: 4px; margin-left: 10px; }